.outer-card-wrapper {
    margin-left: 20px;
}

.inner-card-wrapper {
    max-width: 1300px;
}

.card {
    width: 262px;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
    margin: 0 40px 40px 0;
}

.card:hover {
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
}

.card-header {
    height: 146px;
}

.card-body {
    height: 120px;
}

.inner-card-wrapper a {
    text-decoration: none;
}

.card h6 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title {
    font-size: 14px;
}

.section {
    color: grey;
    font-size: 17px;
    font-weight: normal;
}

.term {
    color: grey;
    font-size: 13px;
    font-weight: normal;
}

#card-1 .card-header {
    background-color: #254284;
}

#card-1 .title {
    color: #254284;
}

#card-2 .card-header {
    background-color: #4d3d4d;
}

#card-2 .title {
    color: #4d3d4d;
}

#card-3 .card-header {
    background-color: #e1185c;
}

#card-3 .title {
    color: #e1185c;
}

#card-4 .card-header {
    background-color: #d41300;
}

#card-4 .title {
    color: #d41300;
}

#card-5 .card-header {
    background-color: #008400;
}

#card-5 .title {
    color: #008400;
}

#card-6 .card-header {
    background-color: #0076b8;
}

#card-6 .title {
    color: #0076b8;
}

#card-7 .card-header {
    background-color: #91349b;
}

#card-7 .title {
    color: #91349b;
}

