.search-icon {
    margin-top: 12px;
}

td:not(.first-col), th:not(.first-col) {
    text-align: center;
}

td > input {
    text-align: center;
    border: 0;
}

th h6 {
    margin-bottom: 0;
}

th p {
    font-size: 14px;
    margin-bottom: 0;
}

th:not(.first-col) {
    font-weight: normal;
}

.lighter-blue {
    background-color: #cff4fc;
}

.darker-blue {
    background-color: #c5e8ef;
}

#export {
    padding-left: 30px;
    width: 114px;
}

#export-icon {
    margin: 11px 2px 0 10px;
}