#select-publish {
    width: 135px;
}

.indent {
    padding-right: 30px;
}



.publish {
    flex: 0 0 auto;
}

.no-radius {
    border-radius: 0;
}

.option-list ul {
    list-style-type: none;
}

.option-list li {
    border-radius: 5px;
}

.option-list a {
    text-align: left;
    white-space: nowrap;
}

.course-status-list ul {
    list-style-type: none;
}

.course-status-list li {
    margin-bottom: 20px;
}

.course-status-list a {
    text-decoration: none;
    color: #b52828;
}

.course-status-list li p {
    color: grey;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 14px;
}

.small-link {
    font-size: 14px;
}

.module-wrapper-inner li a {
    text-decoration: none;
    color: #b52828;
}

.module-wrapper-inner li {
    color: #4c5860;
    font-weight: 500;
}


















