/*Kanbas Navigation Styles*/
.list-group.kanbas-nav-outer {
    width: 85px;
    max-width: 85px;
    height: 100vh;
    position: fixed;
    background-color: black;
    align-content: center;
    border-radius: 0;
}

.list-group-item.kanbas-nav-item {
    background-color: black;
    padding: 8px 3px 3px 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: none;
}

.list-group-item.kanbas-nav-item > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: .875rem;
}

.kanbas-nav-item span {
    padding-top: 5px;
    padding-bottom: 5px;
}

.kanbas-nav-item.selected {
    background-color: white;
}

.kanbas-nav-item.selected > a {
    color: #d41b2c;
}

.selected#account i {
    color: grey;
}

/* Account and Course Navigation Styles*/
.list-group.nav-outer {
    float: left;
    min-width: 190px;
    width: 190px;
    max-width: 190px;
    border-radius: 0;
}

.list-group-item.nav-item {
    border: none;
    padding: 8px 0 8px 8px;
    border-left: 2px solid rgba(0, 0, 0, 0);
}

.list-group-item.nav-item > a{
    text-decoration: none;
    color: #b52828;
}

.nav-item.selected {
    border-left: 2px solid black;
}

.nav-item.selected a {
    color: black;
}

#kanbas-navigation-dropdown li {
    border: 0;
}

#course-navigation-dropdown li {
    padding: 0;
}

