.wrapper {
    display: flex;
    height: 100%;
}

.content-wrapper {
    flex-grow: 1;
    margin-right: 15px;
}

.top-bar {
    display: flex;
    padding-top: 20px;
    padding-left: 5px;
    justify-items: center;
}

.top-bar > h1 {
    font-weight: lighter;
    font-size: 35px;
}

.top-bar span {
    margin-left: 30px;
    font-size: 18px;
}

.grey-button {
    background-color: #f5f5f5;
    color: #212529;
    border: 1px solid #c7cdd1;
}

.top-bar a {
    text-decoration: none;
    color: #b52828;
}

.top-bar li {
    font-size: 20px;
}

.top-button {
    max-height: 40px;
    white-space: nowrap;
}

.green-left-border {
    border-left: 4px solid #008242;
}

.red-link {
    text-decoration: none;
    color: #b52828;
}

.module-wrapper-inner > ul {
    border-radius: 0;
}

.top-z-index {
    z-index: 100;
}

/* Lifted straight from the bootstrap source code*/
@media (min-width: 768px) {
    .ms-md-100 {
        margin-left: 100px;
    }
}

@media (max-width: 767px) {
    .ms-sm-15 {
        margin-left: 15px;
    }
}

.hidden-top-bar {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-between;
}

